@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Slab:wght@200&display=swap');



/* Standards */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'PT Serif', serif;
    color: white;
}

header {
    text-align: center;
    padding-top: 7em;
}

h1 {
    color: #34bfff;
    width: clamp(6em ,80%, 10em);
    font-size: 40px;
    font-weight: 100;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
}

h2 {
    margin-top: 1em;
    font-size: 70px;
    font-weight: 500;
}

h3 {
    color: #34bfff;
    margin: 0 2em;
    padding-top: 1em;
    padding-bottom: 10px;
    font-size: 24px;
    border-bottom: 1px solid white;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding-bottom: 3px;
    width: 90%;
    margin-bottom: 5px;
    border-bottom: #34bfff 1px solid;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

ul {

    list-style: none;
    margin: 4em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 100vw;
}

a {
    color: #34bfff;
    text-decoration: none;
    position: relative;
}


/* Animation header border */

#name::before {
    content: "";
    position: absolute;
}

a.animate::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #34bfff;
    transition: width 300ms ease;
}

a.animate:hover::before {
    width: 100%;
}

h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 1s ease;
}

.animate-border::before {
    width: 100%;
}


@media (max-width: 620px)
{
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 40px;
    }

    #presentation,#lia {
        font-size: 20px;
    }

    #socials {
        margin-top: 6em;
    } 

}



/* ---------------------------------------------
-------------------------------------------------
---------------------------------------------------*/

#scroll-btn {
    position: absolute;
    bottom: 1em;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


#scroll-btn img {
    animation: scroll-btn-animation 1s ease-in-out infinite alternate;
    animation-fill-mode: forwards;
}
    @keyframes scroll-btn-animation {
      from { transform: translateY(0); }
      to { transform: translateY(-1em); }
    }
    
#scroll-btn button {
    visibility: hidden;
    ;
}


#top {
    height: 100vh;
    background-image: url("./imgs/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#top-container {
    background-color: rgb(52, 52, 52, 0.3);
    max-width: 550px;
    width: 100%;
    margin: auto;
    border-radius: 1em;
}

header p {
    margin-top: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

#socials {
    opacity: 0.0;
    transition: opacity 1000ms ease;
}

#socials li {
    width: 50px;
    margin: 1em;
    opacity: 0.4;
    transition: opacity 200ms ease, visibility 200ms ease;
}

#lia {
    margin-top: 0;
    font-size: 20px;
}

ul li img {
    width: 100%;
}

#socials li:hover {
    opacity: 1.0;
}

.visible {
    opacity: 1.0 !important;
}


@media (max-width: 620px) {
    #scroll-btn img {
        width: 70%;
    }
}

/* --------------------------------------------- */


#about {
    width: 70%;
    min-width: 1200px;
    margin: auto;
    display: grid;
    grid-template: "a a" " b c" "d e" / 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 4em;
}

/*
Grid
*/

#about-lia {
    grid-area: b;
}

#skills {
    grid-area: c;
}

#learning {
    grid-area: d;
}

#projects {
    grid-area: e;
}

#about section>* {
    margin-left: 2em;
}

#about h3 {
    margin: 0 1em;
}

#introduction h2,
#experience-container h2 {
    text-align: center;
    color: #34bfff;
    font-weight: 700;
    font-size: 40px;
    padding-top: 1em;
}

#selfie {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 120px;
}

#intro-container div:last-child {
    flex: 1;
}

.left,.right {
    margin: auto;
    background-color: #1c1c1c;
    border-radius: 1em;
    box-shadow:
        0px 1px 15px 5px rgba(2, 0, 0, 0.39);
    padding: 10px 20px;
    margin: auto;
}


#introduction {
    width: 80%;
    margin: auto;
    grid-area: a;
    line-height: 1.5em;
}

#about p,
#about li {
    font-size: 20px;
}

#about section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 290px;
    width: 100%;
}

#intro-container {
    margin: 3em auto;
    margin-bottom: 0;
    padding-bottom: 3em;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


#skills ul {
    display: grid;
    width: clamp(290px, 80%, 100%);
    grid-template: "a b c d e " "f g h i j" / 1fr 1fr 1fr 1fr 1fr;
    margin: 1em auto;
}

#skills ul li {
    display: flex;
    justify-content: center;
    width: 73px;
    height: 73px;
    margin: 0.5rem;
    box-shadow:
        0px 1px 15px 5px rgba(2, 0, 0, 0.39);
    background-color: #1c1c1c;
    border-radius: 10px;
}

#skills img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin: auto 0;
}

#about-lia a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 1em;
    background-color: #1c1e22;
    width: 8em;
}


#projects ul,
#learning ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: disc;
    justify-content: left;
    margin: 0;
    margin-left: 4em;
    gap: 10px;
    padding-bottom: 1em;
    color: white;
    font-family: 'Roboto Slab', serif;
}


@media (max-width:1200px) {
    #about {
        grid-template: "a" "b" "c" "d" "e";
        min-width: 0;
        width: 90%;
    }
    .left, .right {
        width: clamp(300px, 100%, 650px) !important;
    }
    
    #intro-container {
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    #skills ul {
        grid-template: "a b c d" "e f g h" / 1fr 1fr 1fr 1fr;
        margin: auto;
    }

    #about {
        padding: 0;
        padding-bottom: 3em;
    }

    .left, .right {
        width: clamp(300px, 90%, 650px) !important;
    }

    #about-lia a {
        margin: auto;
    }

    #skills ul li {
        width: 60px;
        height: 60px;
        margin: 0.25rem;
    }
}

@media (min-width: 640px) {
    
    .left, .right {
        opacity: 0;
        transform: translateX(75px);
        transition: opacity 1s ease, transform 1s ease;
    }
    
    .left {
        transform: translateX(-75px);
    }
    
    .showing {
        opacity: 1;
        transform: translateX(0);
    }

}


/* ---------------------------------------------
-------------------------------------------
---------------------------------------------*/

#experience h3 {
    width: 70%;
    margin: auto;
    border: none;
}

#experience {
    background-image: url("./imgs/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#experience-container>p {
    display: inline-block;
    width: 60%;
    font-size: 24px;
    margin: 2em;
}

#experience-container {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    backdrop-filter: blur(20px);
    width: clamp(600px, 80%, 100%);
    margin: auto;
    padding-top: 3em;
}

#resume {
    display: grid;
    grid-template: "a b" "c d" / 1fr 1fr;
    align-items: start;
    justify-content: center;
}

#work-title{ grid-area: a;}
#edu-title{ grid-area: b;}
#work-list{ grid-area: c;}
#edu-list{ grid-area: d;}

#resume ul {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    padding: 1em;
    margin: 0 0 0 2em;
    list-style-type: disc;
}

#resume ul p {
    margin-left: 1em;
}

#resume li {
    padding: 1em 0;
    max-width: 550px;
}

#contact h2 {
    padding: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    font-size: 30px;
}

#contactlist {
    line-height: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    padding: 1em;
    width: 18em;
    margin: auto;
    text-align: start;
}

@media (max-width: 620px) {
    #experience-container {
        width: 100%;
    }
    #resume {
        grid-template: "a" "c" "b" "d";
    }
    #contactlist {
        font-size: 16px;
    }
    
}