@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Slab:wght@200&display=swap');



/* Standards */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    font-family: 'PT Serif', serif;
    color: white;
}

header {
    text-align: center;
    padding-top: 7em;
}

h1 {
    color: #34bfff;
    width: 10em;
    font-size: 40px;
    font-weight: 100;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
}

h2 {
    margin-top: 1em;
    font-size: 70px;
    font-weight: 500;
    text-shadow: #343434;
}

h3 {
    color: #34bfff;
    margin: 0 2em;
    padding-top: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

h4 {

}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

ul {

    list-style: none;
    margin: 4em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    color: #34bfff;
}


/* Animation header border */

#name::before {
    content: "";
    position: absolute;
}

h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 1s ease;
}

.animate-border::before {
    width: 100%;
}


/* ---------------------------------------------
-------------------------------------------------
---------------------------------------------------*/




#top {
    height: 100vh;
    background-image: url("./imgs/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#top-container {
    background-color: rgb(52, 52, 52, 0.3);
    max-width: 550px;
    width: 100%;
    margin: auto;
    border-radius: 1em;
}

header p {
    margin-top: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

#socials {
    opacity: 0.0;
    transition: opacity 1000ms ease;
}

#socials li {
    width: 50px;
    margin: 1em;
    opacity: 0.4;
    transition: opacity 200ms ease, visibility 200ms ease;
}

#lia {
    margin-top: 0;
    font-size: 20px;
}

ul li img {
    width: 100%;
}

#socials li:hover {
    opacity: 1.0;
}

.visible {
    opacity: 1.0 !important;
}


/* --------------------------------------------- */


#about {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template: "a a" " b c" "d e" / 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 4em;
}

/*
Grid
*/

#about-lia {
    grid-area: b;
}

#skills {
    grid-area: c;
}

#learning {
    grid-area: d;
}

#projects {
    grid-area: e;
}

#about section>* {
    margin-left: 2em;
}

#introduction h2, #experience-container h2 {
    text-align: center;
    color: #34bfff;
    font-weight: 700;
    font-size: 40px;
    padding-top: 1em;
}

#selfie {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 120px;
}

#about>section{
    margin: auto;
    background-color: #1b1b1b;
    border-radius: 1em;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    padding: 10px 20px;
    margin: auto;
}

#introduction {
    width: 100%;
    margin: auto;
    grid-area: a;
}

#about p, #about li {
    font-size: 20px;
}

#about section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 290px;
    width: 100%;
    min-width: 480px;
}

#intro-container {
    margin: 3em auto;
    margin-bottom: 0;
    padding-bottom: 3em;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#skills ul {
    display: grid;
    width: clamp(290px, 80%, 100%);
    grid-template: "a b c d e " "f g h i j" / 1fr 1fr 1fr 1fr 1fr;
    margin: 1em auto;
}

#skills ul li {
    display: flex;
    justify-content: center;
    width: 73px;
    height: 73px;
    margin: 0.5rem;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    background-color: #212529;
    border-radius: 10px;
}

#skills img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin: auto 0;
}

#about-lia a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 1em;
    background-color: #1c1e22;
    width: 8em;
}


#projects ul,
#learning ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: disc;
    justify-content: left;
    margin: 0;
    margin-left: 4em;
    gap: 10px;
    padding-bottom: 1em;
}


/* ---------------------------------------------
-------------------------------------------
---------------------------------------------*/

#experience h3 {
    width: 70%;
    margin: auto;
}

#experience {
    min-height: 100vh;
    background-image: url("./imgs/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#experience-container>p {
    display: inline-block;
    width: 60%;
    font-size: 24px;
    margin: 2em;
}

#experience-container{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    backdrop-filter: blur(20px);
    width: clamp(800px, 80%, 100%);
    height: 100vh;
    margin: auto;
    padding-top: 3em;
    border-radius: 3em;
}

#resume {
    display: grid;
    grid-template: "a a" "b c" / 1fr 1fr;
    align-items: start;
    justify-content: center;
}

#resume ul {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    padding: 1em;
    margin: 2em 0 2em 2em;
    list-style-type: disc;
}

#resume ul p {
    margin-left: 1em;
}

#resume li {
    padding: 1em 0;
    max-width: 550px;
}

#contact h2 {
    padding: 0;
    font-size: 30px;
}